Repository c-florist/formicarium: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy, cargo-check, rustfmt

tidy:
  name: TS Tidy
  language: system
  entry: pnpm run tidy

cargo-check:
  name: Cargo Check
  language: system
  entry: cargo check --manifest-path packages/core/Cargo.toml
  pass_filenames: false

rustfmt:
  name: Rustfmt
  language: system
  entry: cargo fmt --manifest-path packages/core/Cargo.toml
  pass_filenames: false

web: add exit button and modal
  README.md
  packages/web/src/lib/components/ui/ConfirmModal.svelte
  packages/web/src/lib/components/ui/Navbar.svelte
  packages/web/src/lib/components/ui/PrimaryButton.svelte
  packages/web/src/lib/state/ui.svelte.ts
  packages/web/src/routes/+page.svelte
  packages/web/src/routes/world/+layout.svelte
Due: tidy

web: modify secondary button styling
  packages/web/src/lib/components/ui/Button.svelte
  packages/web/src/lib/components/ui/ConfirmModal.svelte
  packages/web/src/lib/components/ui/PrimaryButton.svelte
  packages/web/src/lib/components/ui/SecondaryButton.svelte
  packages/web/src/routes/world/+layout.svelte
Due: tidy

web: make menu a dropdown
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/ui/AntStatsPanel.svelte
  packages/web/src/lib/components/ui/DropdownMenu.svelte
  packages/web/src/lib/components/ui/HelpPanel.svelte
  packages/web/src/lib/components/ui/Menu.svelte
  packages/web/src/lib/components/ui/PrimaryButton.svelte
  packages/web/src/routes/+page.svelte
  packages/web/src/routes/world/+layout.svelte
Due: tidy

web: two panels can't be open at the same time
  packages/web/src/lib/state/ui.svelte.ts
Due: tidy

web: add validation on sim start input form
  packages/web/src/lib/state/simulation.svelte.ts
  packages/web/src/routes/+page.svelte
Due: tidy

core: update bundle targets
  packages/core/tauri.conf.json
Due: cargo-check, rustfmt

web: update gitignore for build dir
  packages/web/.gitignore
Due: tidy

core,web: set fallback correctly and use proper logger for backend
  packages/core/src/main.rs
  packages/web/svelte.config.js
Due: tidy, cargo-check, rustfmt

web: remove redundant layout script
  packages/web/src/routes/+layout.ts
  packages/web/src/routes/world/+layout.ts
Due: tidy

core: fix productName and identifier in tauri conf
  packages/core/tauri.conf.json
Due: cargo-check, rustfmt

web: add path patcher for tauri protocol
  packages/web/src/lib/world/assets.ts
Due: tidy

core: only log to file in prod
  packages/core/src/main.rs
Due: cargo-check, rustfmt

web: resolve pnpm-lock
  pnpm-lock.yaml
Due: tidy

domain: lint type file
  packages/domain/src/types/SimulationOptions.ts
Due: tidy

core: dont log info msg in prod build
  packages/core/src/main.rs
Due: cargo-check, rustfmt

root: release v1.0.0
  packages/core/Cargo.lock
  packages/core/Cargo.toml
  packages/core/tauri.conf.json
Due: cargo-check, rustfmt

core: replace magic number
  packages/core/src/engine/simulation.rs
Due: cargo-check, rustfmt

root: finesse readme with a roadmap and link to releases
  README.md
Due: tidy

web: fix food source alpha settings bug
  packages/domain/src/globalConfig.json
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy

root: release v1.0.1
  package.json
  packages/core/Cargo.lock
  packages/core/Cargo.toml
  packages/core/tauri.conf.json
  packages/domain/package.json
  packages/web/package.json
Due: tidy, cargo-check, rustfmt

update README with project history
  README.md
Due: tidy

add new packages to separate backend
  packages/simulation/Cargo.toml
  packages/wasm-client/Cargo.toml
Due: tidy

move icons to domain package
  README.md
  packages/domain/static/icons/128x128.png
  packages/domain/static/icons/128x128@2x.png
  packages/domain/static/icons/32x32.png
  packages/domain/static/icons/64x64.png
  packages/domain/static/icons/icon.png
Due: tidy

move core logic to simulation package
  packages/simulation/.gitignore
  packages/simulation/Cargo.lock
  packages/simulation/src/components/dto.rs
  packages/simulation/src/components/mod.rs
  packages/simulation/src/components/world.rs
  packages/simulation/src/config.rs
  packages/simulation/src/engine/mod.rs
  packages/simulation/src/engine/simulation.rs
  packages/simulation/src/engine/stats.rs
  packages/simulation/src/lib.rs
  packages/simulation/src/systems/ant.rs
  packages/simulation/src/systems/mod.rs
  packages/simulation/src/systems/movement.rs
  packages/simulation/src/systems/pheromone.rs
  packages/simulation/src/systems/stats.rs
  packages/simulation/src/systems/world.rs
  packages/simulation/src/utils/maths.rs
  packages/simulation/src/utils/mod.rs
  packages/wasm-client/.gitignore
Due: tidy

update pnpm workspaces
  pnpm-workspace.yaml
Due: tidy

update justfile targets
  justfile
Due: tidy

flesh out the wasm-client exposed fns
  packages/wasm-client/Cargo.lock
  packages/wasm-client/Cargo.toml
  packages/wasm-client/src/lib.rs
Due: tidy

get wasm-client building for web
  packages/simulation/Cargo.lock
  packages/simulation/Cargo.toml
  packages/wasm-client/Cargo.lock
  packages/wasm-client/justfile
Due: tidy

add a wasm-service
  packages/wasm-client/justfile
  packages/web/src/lib/core/wasm-service.ts
Due: tidy

get sim working as wasm service
  packages/web/package.json
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/ui/HelpPanel.svelte
  packages/web/src/lib/components/ui/WorldStatsPanel.svelte
  packages/web/src/lib/core/events.ts
  packages/web/src/lib/core/query.ts
  packages/web/src/lib/services/simulation-service.ts
  packages/web/src/lib/state/wasm.svelte.ts
  packages/web/src/lib/stores/world-store.ts
  packages/web/vite.config.ts
  pnpm-lock.yaml
Due: tidy

fix up simulation class and world initialisation
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/ui/AntStatsPanel.svelte
  packages/web/src/lib/components/ui/WorldStatsPanel.svelte
  packages/web/src/lib/services/simulation-service.ts
  packages/web/src/lib/services/simulation.ts
  packages/web/src/lib/state/wasm.svelte.ts
  packages/web/src/lib/stores/world-store.ts
  packages/web/src/lib/stores/world.ts
Due: tidy

fix panels not opening properly
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/ui/DropdownMenu.svelte
  packages/web/src/lib/components/ui/WorldStatsPanel.svelte
  packages/web/src/lib/state/input.svelte.ts
  packages/web/src/lib/state/ui.svelte.ts
  packages/web/src/lib/stores/world.ts
  packages/web/src/routes/+page.svelte
Due: tidy

remove some options from pixi app init
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy

remove unused dependencies
  justfile
  package.json
  packages/web/package.json
  packages/web/src/routes/+page.svelte
  pnpm-lock.yaml
Due: tidy

remove tauri stuff from CI
  .github/workflows/ci.yml
Due: tidy

remove tauri path helper and resolve pnpm deps
  packages/web/src/lib/world/assets.ts
  pnpm-lock.yaml
Due: tidy

remove reference to pixi path helper
  packages/web/src/lib/world/assets.ts
Due: tidy

build wasm client in CI before typechecking
  .github/workflows/ci.yml
Due: tidy

Path conditions:
  tidy: any file but: ^packages/core/
  cargo-check: any of: ^packages/core/
  rustfmt: any of: ^packages/core/
