Repository c-florist/formicarium: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy, typecheck, cargo-check, rustfmt

tidy:
  name: TS Tidy
  language: system
  entry: pnpm run tidy

typecheck:
  name: TS Typecheck
  language: system
  entry: pnpm run typecheck
  pass_filenames: false

cargo-check:
  name: Cargo Check
  language: system
  entry: cargo check --manifest-path packages/core-rs/Cargo.toml
  pass_filenames: false

rustfmt:
  name: Rustfmt
  language: system
  entry: cargo fmt --manifest-path packages/core-rs/Cargo.toml
  pass_filenames: false

core-rs: refactor state_transition_system into separate systems
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
  packages/web/src/lib/WorldCanvas.svelte
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: refactor food despawning into system
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: stop using unwrap everywhere
  packages/api/src/core/orchestrator.ts
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
  packages/web/src/lib/world-store.ts
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: fix clippy suggestion
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: make sure food sources are not spawned on top of nest
  packages/core-rs/src/simulation.rs
Due: cargo-check, rustfmt

core-rs: propagate errors to API and use rand_pcg for rng
  biome.json
  packages/core-rs/Cargo.lock
  packages/core-rs/Cargo.toml
  packages/core-rs/justfile
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
  packages/domain/src/AntDto.ts
  packages/domain/src/FoodSourceDto.ts
  packages/domain/src/NestDto.ts
  packages/domain/src/WorldDto.ts
  packages/web/src/lib/world-store.ts
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: add pheromone components
  packages/core-rs/src/components.rs
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: refactor systems into module
  packages/core-rs/src/systems/ant.rs
  packages/core-rs/src/systems/mod.rs
  packages/core-rs/src/systems/movement.rs
  packages/core-rs/src/systems/world.rs
Due: cargo-check, rustfmt

core-rs: cargo fix
  packages/core-rs/src/systems/ant.rs
  packages/core-rs/src/systems/movement.rs
  packages/core-rs/src/systems/world.rs
Due: cargo-check, rustfmt

core-rs: reshuffle tests and clarify intent
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems/ant.rs
  packages/core-rs/src/systems/movement.rs
  packages/core-rs/src/systems/world.rs
Due: cargo-check, rustfmt

core-rs: add a basic pheromone decay system
  packages/core-rs/src/systems/ant.rs
  packages/core-rs/src/systems/mod.rs
  packages/core-rs/src/systems/pheromone.rs
Due: cargo-check, rustfmt

core-rs: refactor despawn system to despawn multiple entities
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems/world.rs
Due: cargo-check, rustfmt

core-rs: add base pheromone emission system
  packages/core-rs/src/systems/pheromone.rs
Due: cargo-check, rustfmt

core-rs: move pheromonetype out of pheromone component
  packages/core-rs/src/components.rs
  packages/core-rs/src/systems/pheromone.rs
  packages/core-rs/src/systems/world.rs
Due: cargo-check, rustfmt

core-rs: extract distance_sq to maths module
  packages/core-rs/src/lib.rs
  packages/core-rs/src/maths.rs
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems/ant.rs
  packages/core-rs/src/systems/pheromone.rs
Due: cargo-check, rustfmt

core-rs: add tests for maths mod
  packages/core-rs/src/maths.rs
Due: cargo-check, rustfmt

core-rs: use deterministic rng for simulation struct
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems/movement.rs
Due: cargo-check, rustfmt

core-rs: make pheromones tag components for faster querying
  packages/core-rs/src/components.rs
  packages/core-rs/src/systems/pheromone.rs
  packages/core-rs/src/systems/world.rs
Due: cargo-check, rustfmt

core-rs: add a couple more maths fns for spatial querying
  packages/core-rs/src/maths.rs
Due: cargo-check, rustfmt

core-rs: pheromone following system for to_food pheromones
  packages/core-rs/src/maths.rs
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems/movement.rs
Due: cargo-check, rustfmt

core-rs: add a couple more tests for ant wandering
  packages/core-rs/src/maths.rs
  packages/core-rs/src/systems/movement.rs
Due: cargo-check, rustfmt

core-rs: ants should follow pheromones to food not pheromone
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems/movement.rs
Due: cargo-check, rustfmt

core-rs: adjust detection ranges
  packages/core-rs/src/systems/movement.rs
  packages/core-rs/src/systems/pheromone.rs
Due: cargo-check, rustfmt

web: add pixijs dep
  packages/web/package.json
  pnpm-lock.yaml
Due: tidy, typecheck

web: add basic pixel world example
  packages/web/src/lib/PixelWorldCanvas.svelte
  packages/web/src/routes/world/+page.svelte
  packages/web/static/worker-ant-spritesheet.json
  packages/web/static/worker-ant-spritesheet.png
Due: tidy, typecheck

web: ant sprites rendering in canvas
  biome.json
  packages/core-rs/src/dto.rs
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems/pheromone.rs
  packages/domain/src/AntDto.ts
  packages/web/src/lib/PixelWorldCanvas.svelte
  packages/web/static/worker-ant-spritesheet.json
Due: tidy, typecheck, cargo-check, rustfmt

web: add background assets
  packages/web/src/lib/PixelWorldCanvas.svelte
  packages/web/static/boulder-1.png
  packages/web/static/boulder-2.png
  packages/web/static/forest-terrain.json
  packages/web/static/forest-terrain.png
  packages/web/static/tree-1.png
Due: tidy, typecheck

web: move scene creation into separate fns
  packages/web/src/lib/PixelWorldCanvas.svelte
Due: tidy, typecheck

web: add more pixel assets and create a nest on the map
  packages/domain/src/index.ts
  packages/web/src/lib/PixelWorldCanvas.svelte
  packages/web/static/background/boulder-1.png
  packages/web/static/background/boulder-2.png
  packages/web/static/background/forest-terrain.json
  packages/web/static/background/forest-terrain.png
  packages/web/static/background/tree-1-1.png
  packages/web/static/background/tree-1-2.png
  packages/web/static/background/tree-1-3.png
  packages/web/static/background/tree-1-4.png
  packages/web/static/characters/worker-ant-spritesheet.json
  packages/web/static/characters/worker-ant-spritesheet.png
  packages/web/static/nests/big-stump.json
  packages/web/static/nests/big-stump.png
  packages/web/static/tree-1.png
Due: tidy, typecheck

web: add food source textures onMount
  packages/core-rs/src/dto.rs
  packages/web/src/lib/PixelWorldCanvas.svelte
  packages/web/static/food/bananas.png
  packages/web/static/food/food-1.json
  packages/web/static/food/food-1.png
  packages/web/static/food/kiwi.png
  packages/web/static/nests/big-stump.json
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: expose id and amount of foodSource
  packages/core-rs/src/dto.rs
  packages/core-rs/src/simulation.rs
  packages/domain/src/FoodSourceDto.ts
Due: tidy, typecheck, cargo-check, rustfmt

web: add food sprites with deterministic textures
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems/movement.rs
  packages/core-rs/src/systems/pheromone.rs
  packages/web/src/lib/PixelWorldCanvas.svelte
  packages/web/static/food/food-1.json
Due: tidy, typecheck, cargo-check, rustfmt

web: refactor canvas code for readability
  packages/web/src/lib/PixelWorldCanvas.svelte
  packages/web/src/lib/utils.ts
Due: tidy, typecheck

web: move constants and types to schema
  packages/web/src/lib/PixelWorldCanvas.svelte
  packages/web/src/lib/WorldCanvas.svelte
  packages/web/src/lib/world-store.ts
  packages/web/static/characters/worker-ant-spritesheet.json
  packages/web/static/characters/worker-ant-spritesheet.png
Due: tidy, typecheck

web: restructure components and world lib
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/WorldCanvas.svelte
  packages/web/src/lib/world/schema.ts
  packages/web/src/lib/world/world-store.ts
  packages/web/src/routes/world/+page.svelte
  packages/web/static/characters/worker-ant.json
  packages/web/static/characters/worker-ant.png
Due: tidy, typecheck

web: reduce size of food as it depletes
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/WorldCanvas.svelte
  packages/web/src/lib/world/schema.ts
Due: tidy, typecheck

web: use a TilingSprite for background rendering
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/schema.ts
Due: tidy, typecheck

web: move render fns out of component
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/utils.ts
  packages/web/src/lib/utils/maths.ts
  packages/web/src/lib/world/render.ts
  packages/web/src/lib/world/sprite.ts
Due: tidy, typecheck

web: refactor render fns to not pass around app instance
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/render.ts
Due: tidy, typecheck

root: update readme
  README.md
Due: tidy, typecheck

Path conditions:
  tidy: any file but: ^packages/core-rs/
  typecheck: any file but: ^packages/core-rs/
  cargo-check: any of: ^packages/core-rs/
  rustfmt: any of: ^packages/core-rs/
