Repository c-florist/formicarium: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy, cargo-check, rustfmt

tidy:
  name: TS Tidy
  language: system
  entry: pnpm run tidy

cargo-check:
  name: Cargo Check
  language: system
  entry: cargo check --manifest-path packages/core/Cargo.toml
  pass_filenames: false

rustfmt:
  name: Rustfmt
  language: system
  entry: cargo fmt --manifest-path packages/core/Cargo.toml
  pass_filenames: false

attempt to start backend from frontend
  packages/core/src/main.rs
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/stores/simulation-store.ts
  packages/web/src/routes/+page.svelte
  packages/web/src/routes/world/+layout.ts
  packages/web/src/routes/world/+page.svelte
Due: tidy, cargo-check, rustfmt

make starting the sim from /world work
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/stores/world-store.ts
  packages/web/src/routes/world/+layout.ts
  packages/web/src/routes/world/+page.svelte
Due: tidy

fix cursor style for all components
  packages/web/src/app.css
  packages/web/src/app.html
  packages/web/src/routes/+page.svelte
Due: tidy

use app.ticker for animation loop
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy

feat: create world from frontend (#4)
  README.md
  packages/core/src/components/dto.rs
  packages/core/src/components/mod.rs
  packages/core/src/components/world.rs
  packages/core/src/engine/mod.rs
  packages/core/src/engine/simulation.rs
  packages/core/src/lib.rs
  packages/core/src/main.rs
  packages/core/src/systems/ant.rs
  packages/core/src/systems/movement.rs
  packages/core/src/systems/pheromone.rs
  packages/core/src/systems/world.rs
  packages/core/src/utils/maths.rs
  packages/core/src/utils/mod.rs
  packages/domain/src/StatsDto.ts
  packages/domain/src/index.ts
  packages/web/src/app.css
  packages/web/src/app.html
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/StatsDashboard.svelte
  packages/web/src/lib/components/ui/Button.svelte
  packages/web/src/lib/components/ui/ExitButton.svelte
  packages/web/src/lib/components/ui/Icon.svelte
  packages/web/src/lib/components/ui/Navbar.svelte
  packages/web/src/lib/components/ui/Popover.svelte
  packages/web/src/lib/components/ui/StatsDashboard.svelte
  packages/web/src/lib/stores/simulation-store.ts
  packages/web/src/lib/stores/ui-state-store.ts
  packages/web/src/lib/stores/world-store.ts
  packages/web/src/lib/world/query.ts
  packages/web/src/lib/world/render.ts
  packages/web/src/lib/world/schema.ts
  packages/web/src/lib/world/world-store.ts
  packages/web/src/routes/+page.svelte
  packages/web/src/routes/world/+layout.svelte
  packages/web/src/routes/world/+layout.ts
  packages/web/src/routes/world/+page.svelte
  packages/web/static/ui/icons/eye.png
Due: tidy, cargo-check, rustfmt

core: add health to ant component
  README.md
  packages/core/src/components/dto.rs
  packages/core/src/components/world.rs
  packages/core/src/engine/simulation.rs
  packages/core/src/systems/ant.rs
  packages/core/src/systems/movement.rs
  packages/core/src/systems/pheromone.rs
  packages/core/src/systems/world.rs
  packages/domain/src/AntDto.ts
Due: tidy, cargo-check, rustfmt

core: add ant lifecycle system to spawn new ants and decrease health
  packages/core/src/engine/simulation.rs
  packages/core/src/systems/ant.rs
Due: cargo-check, rustfmt

core: fix overflow error and adjust ant reprod chance
  packages/core/src/systems/ant.rs
Due: cargo-check, rustfmt

core: add food spawn system
  packages/core/src/engine/simulation.rs
  packages/core/src/systems/world.rs
Due: cargo-check, rustfmt

core: set a max number of food sources
  README.md
  packages/core/src/systems/world.rs
Due: tidy, cargo-check, rustfmt

root: update readme goals
  README.md
Due: tidy

core: update default ant health
  README.md
  packages/core/src/engine/simulation.rs
  packages/core/src/systems/ant.rs
Due: tidy, cargo-check, rustfmt

core: add ant dying system to mark dying ants
  packages/core/src/components/world.rs
  packages/core/src/engine/simulation.rs
  packages/core/src/systems/ant.rs
  packages/core/src/systems/world.rs
Due: cargo-check, rustfmt

core: add ant state to dto
  packages/core/src/components/dto.rs
  packages/core/src/engine/simulation.rs
Due: cargo-check, rustfmt

web: fade ants that are dying
  packages/core/src/systems/ant.rs
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy, cargo-check, rustfmt

domain: add system config file and shuffle types
  biome.json
  packages/core/src/components/dto.rs
  packages/domain/src/AntDto.ts
  packages/domain/src/index.ts
  packages/domain/src/systemConfig.json
  packages/domain/src/types/AntDto.ts
  packages/domain/src/types/AntStateDto.ts
  packages/domain/src/types/FoodSourceDto.ts
  packages/domain/src/types/NestDto.ts
  packages/domain/src/types/StatsDto.ts
  packages/domain/src/types/WorldDto.ts
Due: tidy, cargo-check, rustfmt

core: add system config structs
  README.md
  packages/core/Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/config.rs
  packages/core/src/main.rs
Due: tidy, cargo-check, rustfmt

core: use system config in modules
  packages/core/src/lib.rs
  packages/core/src/systems/ant.rs
  packages/core/src/systems/movement.rs
  packages/core/src/systems/pheromone.rs
  packages/core/src/systems/world.rs
Due: cargo-check, rustfmt

web: use system config
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy

domain: typo
  packages/domain/src/systemConfig.json
Due: tidy

core: add profiles for build targets
  packages/core/Cargo.toml
Due: cargo-check, rustfmt

web: add some more background assets
  README.md
  packages/web/static/background/animated-water.json
  packages/web/static/background/animated-water.png
  packages/web/static/background/terrain.json
  packages/web/static/background/terrain.png
  packages/web/static/background/tree-1-1.png
  packages/web/static/background/tree-1-2.png
  packages/web/static/background/tree-1-3.png
  packages/web/static/background/tree-1-4.png
  packages/web/static/background/world-objects.json
  packages/web/static/background/world-objects.png
Due: tidy

web: load all assets on before sim starts
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/render.ts
  packages/web/src/lib/world/schema.ts
  packages/web/src/routes/world/+page.svelte
  packages/web/static/background/terrain.json
Due: tidy

web: set stage cursor in initialiser
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/assets.ts
Due: tidy

web: refactor queries into own dir
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/ui/StatsDashboard.svelte
  packages/web/src/lib/core/query.ts
  packages/web/src/lib/stores/world-store.ts
  packages/web/src/lib/utils/maths.ts
  packages/web/src/lib/world/query.ts
  packages/web/src/routes/world/+page.svelte
Due: tidy

web: remove comments
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy

web: move initialising into separate fns
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy

core: emit event on simulation init
  packages/core/src/components/dto.rs
  packages/core/src/main.rs
Due: cargo-check, rustfmt

web: consume sim init event on frontend
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/core/events.ts
Due: tidy

web: remove unnecessary worldData reassignment
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy

web: refactor configs file
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/configs.ts
  packages/web/src/lib/world/render.ts
Due: tidy

system: make ants move faster
  packages/core/src/config.rs
  packages/core/src/systems/movement.rs
  packages/domain/src/systemConfig.json
  packages/web/src/lib/utils/maths.ts
  packages/web/src/lib/world/configs.ts
Due: tidy, cargo-check, rustfmt

web: remove old background generator in prep for world map
  README.md
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/configs.ts
  packages/web/src/lib/world/render.ts
  packages/web/src/lib/world/sprite.ts
  packages/web/static/background/terrain.json
Due: tidy

add scaffold for new world map generation
  README.md
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/configs.ts
  packages/web/src/lib/world/render.ts
  packages/web/src/lib/world/tiled.ts
  packages/web/static/background/animated-water.json
  packages/web/static/background/animated-water.png
  packages/web/static/background/boulder-1.png
  packages/web/static/background/boulder-2.png
  packages/web/static/background/forest-terrain.json
  packages/web/static/background/forest-terrain.png
  packages/web/static/background/terrain.json
  packages/web/static/background/terrain.png
  packages/web/static/background/tileset.png
  packages/web/static/background/world-map-1.json
  packages/web/static/background/world-objects.json
  packages/web/static/background/world-objects.png
Due: tidy

remove premultipled alpha
  packages/web/src/lib/world/tiled.ts
  packages/web/static/background/world-map-1.json
Due: tidy

add some filters for fun
  packages/web/package.json
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/tiled.ts
  pnpm-lock.yaml
Due: tidy

new world map config using different tilesheets
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/configs.ts
  packages/web/src/lib/world/sprite.ts
  packages/web/src/lib/world/tiled.ts
  packages/web/static/background/big-stump.png
  packages/web/static/background/ground-tileset.png
  packages/web/static/background/tileset.png
  packages/web/static/background/world-map-1.json
  packages/web/static/background/world-map-2.json
Due: tidy

remove godray filter settings
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy

add more background assets
  README.md
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/tiled.ts
  packages/web/static/background/big-stump.png
  packages/web/static/background/blue-flower.png
  packages/web/static/background/bush.png
  packages/web/static/background/dead-tree.png
  packages/web/static/background/ground-edge-tileset.png
  packages/web/static/background/orange-flower.png
  packages/web/static/background/path-tileset.png
  packages/web/static/background/pink-flower.png
  packages/web/static/background/red-flower.png
  packages/web/static/background/rock.png
  packages/web/static/background/sign.png
  packages/web/static/background/small-stump.png
  packages/web/static/background/small-tree.png
  packages/web/static/background/tree.png
  packages/web/static/background/world-map-2.json
Due: tidy

Path conditions:
  tidy: any file but: ^packages/core/
  cargo-check: any of: ^packages/core/
  rustfmt: any of: ^packages/core/
