Repository c-florist/formicarium: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy, typecheck, cargo-check, rustfmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tidy
        name: 'TS Tidy'
        language: system
        entry: pnpm run tidy
        exclude: ^packages/core-rs/

      - id: typecheck
        name: 'TS Typecheck'
        language: system
        entry: pnpm run typecheck
        exclude: ^packages/core-rs/
        pass_filenames: false

      - id: cargo-check
        name: 'Cargo Check'
        language: system
        entry: cargo check --manifest-path packages/core-rs/Cargo.toml
        files: ^packages/core-rs/
        pass_filenames: false

      - id: rustfmt
        name: 'Rustfmt'
        language: system
        entry: cargo fmt --manifest-path packages/core-rs/Cargo.toml
        files: ^packages/core-rs/
        pass_filenames: false

root: add rust steps to ci jobs
  .github/workflows/ci.yml
Due: tidy, typecheck

root: fix orchestrator build and typecheck
  justfile
  package.json
  packages/orchestrator/package.json
  packages/orchestrator/src/index.ts
Due: tidy, typecheck

core-rs: add some simulation fns to test wasm boundary
  packages/core-rs/src/simulation.rs
  packages/orchestrator/src/wasm.test.ts
Due: tidy, typecheck, cargo-check, rustfmt

root: move orchestrator to api and add domain pkg
  biome.json
  package.json
  packages/api/package.json
  packages/api/src/plugins/simulator.ts
  packages/api/src/routes/world.ts
  packages/api/src/simulation/Wasm.test.ts
  packages/api/src/simulation/simulation.ts
  packages/api/tsconfig.json
  packages/domain/package.json
  packages/domain/src/Dto.ts
  packages/domain/src/domain.ts
  packages/domain/src/index.ts
  packages/domain/tsconfig.json
  packages/orchestrator/src/actors/Ant.test.ts
  packages/orchestrator/src/actors/Ant.ts
  packages/orchestrator/src/actors/World.test.ts
  packages/orchestrator/src/actors/World.ts
  packages/orchestrator/src/index.ts
  packages/orchestrator/src/system/Dto.test.ts
  packages/orchestrator/src/system/Simulation.test.ts
  packages/orchestrator/src/system/simulation.ts
  packages/orchestrator/src/utils/maths.test.ts
  packages/orchestrator/src/utils/maths.ts
  packages/web/package.json
  packages/web/src/lib/world-store.ts
  packages/web/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tidy, typecheck

api: rename core pkg
  packages/api/src/core/simulation.ts
  packages/api/src/core/wasm.test.ts
  packages/api/src/plugins/simulator.ts
  packages/api/src/routes/world.ts
Due: tidy, typecheck

core-rs: add ant-specific components
  packages/core-rs/src/components.rs
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: add a components to support wandering system
  packages/core-rs/src/components.rs
Due: cargo-check, rustfmt

core-rs: basic wandering system
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: add an inefficient food discovery system
  packages/core-rs/src/components.rs
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: refactor food discovery system to use actual nearest food source
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: rename velocity system
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: implement a proper movement system
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: add nest component
  packages/core-rs/src/components.rs
Due: cargo-check, rustfmt

core-rs: add state transition system for returning to nest
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: update state transition system to switch back to wandering upon nest return
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: update simulation tick to call systems in order
  packages/core-rs/src/simulation.rs
Due: cargo-check, rustfmt

root: update ci to build rust/wasm dependencies
  .github/workflows/ci.yml
Due: tidy, typecheck

root: fix rust-toolchain usage in CI
  .github/workflows/ci.yml
Due: tidy, typecheck

root: update all action version shas
  .github/workflows/ci.yml
Due: tidy, typecheck

root: remove erroneous input on rust-toolchain action
  .github/workflows/ci.yml
Due: tidy, typecheck

root: clean up justfile and pre-commit configs
  .pre-commit-config.yaml
  justfile
Due: tidy, typecheck

root: update tsconfigs
  .github/workflows/ci.yml
  package.json
  packages/api/tsconfig.json
  packages/domain/tsconfig.json
  packages/web/package.json
  packages/web/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: tidy, typecheck

root: move vite dependency to root package.json
  package.json
  packages/web/package.json
  pnpm-lock.yaml
Due: tidy, typecheck

root: attempt to fix esm integration for wasm error in ci
  packages/api/package.json
  packages/api/vitest.config.ts
  pnpm-lock.yaml
Due: tidy, typecheck

core-rs: add some dto types
  packages/core-rs/Cargo.lock
  packages/core-rs/Cargo.toml
  packages/core-rs/src/dto.rs
  packages/core-rs/src/lib.rs
Due: cargo-check, rustfmt

core-rs: add get world state fns
  packages/core-rs/src/simulation.rs
Due: cargo-check, rustfmt

api: create orchestrator and remove old tests
  packages/api/src/core/orchestrator.ts
  packages/api/src/core/simulation.ts
  packages/api/src/core/wasm.test.ts
  packages/api/src/plugins/simulator.ts
  packages/api/src/routes/base.test.ts
  packages/api/src/routes/world.ts
Due: tidy, typecheck

core-rs,web: generate typescript dtos from core-rs
  packages/core-rs/Cargo.lock
  packages/core-rs/Cargo.toml
  packages/core-rs/justfile
  packages/core-rs/src/components.rs
  packages/core-rs/src/dto.rs
  packages/domain/src/AntDto.ts
  packages/domain/src/Dto.ts
  packages/domain/src/WorldDto.ts
  packages/domain/src/domain.ts
  packages/domain/src/index.ts
  packages/web/src/lib/WorldCanvas.svelte
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: add width and height to worldDto
  packages/core-rs/src/dto.rs
  packages/core-rs/src/simulation.rs
  packages/domain/src/WorldDto.ts
Due: tidy, typecheck, cargo-check, rustfmt

api: fix plugin registration
  packages/api/src/core/orchestrator.ts
  packages/api/src/main.ts
  packages/api/src/routes/world.ts
Due: tidy, typecheck

core-rs: spawn initial set of ants when creating sim
  packages/core-rs/Cargo.lock
  packages/core-rs/Cargo.toml
  packages/core-rs/src/simulation.rs
Due: cargo-check, rustfmt

core-rs: fix wasm-pack issue with random generator
  packages/api/src/core/orchestrator.ts
  packages/core-rs/Cargo.lock
  packages/core-rs/Cargo.toml
  packages/web/src/lib/WorldCanvas.svelte
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: adjust probability of wandering system
  packages/api/src/core/orchestrator.ts
  packages/core-rs/justfile
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
  packages/web/src/lib/WorldCanvas.svelte
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: wandering should only apply to entities without a target
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: add nestdto to world state
  packages/core-rs/src/dto.rs
  packages/core-rs/src/simulation.rs
  packages/domain/src/NestDto.ts
  packages/domain/src/WorldDto.ts
  packages/domain/src/index.ts
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: add system to enforce world boundaries
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
  packages/web/src/lib/WorldCanvas.svelte
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: add food sources dto to world
  packages/core-rs/src/components.rs
  packages/core-rs/src/dto.rs
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
  packages/domain/src/FoodSourceDto.ts
  packages/domain/src/WorldDto.ts
  packages/web/src/lib/WorldCanvas.svelte
  packages/web/src/lib/world-store.ts
Due: tidy, typecheck, cargo-check, rustfmt

core-rs: deplete food source after ant has reached it
  packages/core-rs/src/components.rs
  packages/core-rs/src/simulation.rs
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: despawn depleted food sources
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt

core-rs: shuffle test ordering
  packages/core-rs/src/systems.rs
Due: cargo-check, rustfmt
