Repository c-florist/formicarium: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy, cargo-check, rustfmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tidy
        name: 'TS Tidy'
        language: system
        entry: pnpm run tidy
        exclude: ^packages/core/

      - id: cargo-check
        name: 'Cargo Check'
        language: system
        entry: cargo check --manifest-path packages/core/Cargo.toml
        files: ^packages/core/
        pass_filenames: false

      - id: rustfmt
        name: 'Rustfmt'
        language: system
        entry: cargo fmt --manifest-path packages/core/Cargo.toml
        files: ^packages/core/
        pass_filenames: false

change nest texture and get world-map-2 working
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/configs.ts
  packages/web/src/lib/world/render.ts
  packages/web/static/background/big-stump.png
  packages/web/static/background/world-map-2.json
  packages/web/static/nests/big-stump.json
  packages/web/static/nests/big-stump.png
Due: tidy

remove unnecessary configs
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/configs.ts
  packages/web/src/lib/world/sprite.ts
Due: tidy

refactor constants for clarity
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/utils/maths.ts
  packages/web/src/lib/world/configs.ts
  packages/web/src/lib/world/constants.ts
  packages/web/src/lib/world/render.ts
  packages/web/src/lib/world/sprite.ts
Due: tidy

use asset manifest instead of individual loaders
  README.md
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/utils/maths.ts
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/constants.ts
  packages/web/src/lib/world/render.ts
Due: tidy

refactor panning setup to fn
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/actions.ts
  packages/web/src/lib/world/constants.ts
  packages/web/src/lib/world/render.ts
Due: tidy

adjust frame rates
  packages/domain/src/systemConfig.json
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/constants.ts
Due: tidy

implement basic lerping
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/sprite.ts
Due: tidy

load all assets in manifest and use get
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/tiled.ts
Due: tidy

refactor tiled map renderer
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/tiled.ts
Due: tidy

remove finished task from readme
  README.md
Due: tidy

fix tests
  packages/core/src/engine/simulation.rs
  packages/core/src/systems/movement.rs
Due: cargo-check, rustfmt

web: implement zIndexed assets and a background/foreground split
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/constants.ts
  packages/web/src/lib/world/tiled.ts
Due: tidy

web: update world map to remove small trees as obstacles
  packages/web/static/background/world-map-2.json
Due: tidy

web: update world map again and readme
  README.md
  packages/web/src/lib/world/tiled.ts
  packages/web/src/routes/world/+layout.svelte
  packages/web/static/background/world-map-2.json
Due: tidy

web: update food source sprites
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/constants.ts
  packages/web/static/food/food-1.json
  packages/web/static/food/food-1.png
Due: tidy

web: finesse food and add new sprites
  README.md
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/world/assets.ts
  packages/web/src/lib/world/constants.ts
  packages/web/src/lib/world/render.ts
  packages/web/static/food/food-0.png
  packages/web/static/food/food-1.png
  packages/web/static/food/food-2.png
  packages/web/static/food/food-3.png
  packages/web/static/food/food-4.png
  packages/web/static/food/food-5.png
  packages/web/static/food/food-6.png
  packages/web/static/food/food-7.png
  packages/web/static/food/food-8.png
Due: tidy

core: track stats from simulation
  packages/core/src/engine/mod.rs
  packages/core/src/engine/simulation.rs
  packages/core/src/engine/stats.rs
  packages/core/src/systems/mod.rs
  packages/core/src/systems/stats.rs
Due: cargo-check, rustfmt

core: update food in nest when payloads are dropped and return in stats dto
  packages/core/src/components/dto.rs
  packages/core/src/engine/simulation.rs
  packages/core/src/engine/stats.rs
  packages/core/src/systems/ant.rs
  packages/domain/src/types/StatsDto.ts
Due: tidy, cargo-check, rustfmt

core: food store should be tracked by nest not stats struct
  README.md
  packages/core/src/components/dto.rs
  packages/core/src/components/world.rs
  packages/core/src/engine/simulation.rs
  packages/core/src/engine/stats.rs
  packages/core/src/systems/ant.rs
  packages/core/src/systems/pheromone.rs
  packages/core/src/systems/stats.rs
  packages/core/src/systems/world.rs
  packages/domain/src/types/StatsDto.ts
  packages/web/src/lib/components/ui/StatsDashboard.svelte
Due: tidy, cargo-check, rustfmt

core: track and display dead ants
  packages/core/src/components/dto.rs
  packages/core/src/engine/simulation.rs
  packages/core/src/engine/stats.rs
  packages/core/src/systems/ant.rs
  packages/domain/src/types/StatsDto.ts
  packages/web/src/lib/components/ui/StatsDashboard.svelte
Due: tidy, cargo-check, rustfmt

web: scale text bubbles
  packages/web/src/lib/world/render.ts
Due: tidy

web: handle flipped tiles in renderer
  packages/web/src/lib/world/tiled.ts
Due: tidy

core: make world 1.5 times bigger than device dimensions
  packages/core/src/main.rs
Due: cargo-check, rustfmt

core: spawn ants when nest food store reaches threshold
  README.md
  packages/core/src/engine/simulation.rs
  packages/core/src/systems/ant.rs
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy, cargo-check, rustfmt

core: adjust lifecycle threshold
  README.md
  packages/core/src/systems/ant.rs
Due: tidy, cargo-check, rustfmt

core: track alive ants properly
  packages/core/src/config.rs
  packages/core/src/systems/ant.rs
  packages/core/src/systems/stats.rs
  packages/domain/src/systemConfig.json
Due: tidy, cargo-check, rustfmt

core: fix ant batch spawning
  packages/core/src/engine/simulation.rs
  packages/core/src/systems/ant.rs
  packages/web/src/routes/+page.svelte
Due: tidy, cargo-check, rustfmt

web: finesse landing page design
  packages/web/src/lib/components/ui/Button.svelte
  packages/web/src/routes/+page.svelte
  packages/web/src/routes/world/+page.svelte
Due: tidy

web: allow ants to be selectable
  README.md
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/stores/ui-state-store.ts
Due: tidy

web: add a stats panel for ants
  README.md
  packages/web/src/lib/components/ui/AntStatsPanel.svelte
  packages/web/src/lib/components/ui/StatsDashboard.svelte
  packages/web/src/routes/world/+layout.svelte
  packages/web/src/routes/world/+page.svelte
Due: tidy

web: adjust ant stats panel design
  README.md
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/ui/AntStatsPanel.svelte
Due: tidy

core: accept multiple options as params for world initialisation
  packages/core/src/config.rs
  packages/core/src/engine/simulation.rs
  packages/core/src/engine/stats.rs
  packages/core/src/main.rs
  packages/core/src/systems/ant.rs
  packages/core/src/systems/movement.rs
  packages/core/src/systems/pheromone.rs
  packages/core/src/systems/world.rs
  packages/domain/src/globalConfig.json
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy, cargo-check, rustfmt

web,core: initialise world with user provided opts
  packages/core/src/engine/simulation.rs
  packages/core/src/main.rs
  packages/domain/src/index.ts
  packages/domain/src/types/SimulationOptions.ts
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/ui/StatsDashboard.svelte
  packages/web/src/lib/core/query.ts
  packages/web/src/lib/state/simulation.svelte.ts
  packages/web/src/lib/stores/simulation-store.ts
  packages/web/src/routes/+page.svelte
  packages/web/src/routes/world/+layout.ts
Due: tidy, cargo-check, rustfmt

web: remove unnecessary ui state store
  packages/web/src/lib/components/PixelWorldCanvas.svelte
  packages/web/src/lib/components/ui/AntStatsPanel.svelte
  packages/web/src/lib/state/simulation.svelte.ts
  packages/web/src/lib/state/ui.svelte.ts
  packages/web/src/lib/stores/ui-state-store.ts
  packages/web/src/routes/world/+layout.svelte
Due: tidy

root: update proposed feature list
  README.md
Due: tidy

web: fix up menu conditional and naming
  packages/web/src/lib/components/ui/Menu.svelte
  packages/web/src/routes/world/+layout.svelte
Due: tidy

web: change stats menu to a panel
  packages/web/src/lib/components/ui/WorldStatsPanel.svelte
  packages/web/src/lib/state/ui.svelte.ts
  packages/web/src/routes/world/+layout.svelte
Due: tidy

web: add a help panel
  packages/web/src/lib/components/ui/HelpPanel.svelte
  packages/web/src/lib/state/ui.svelte.ts
  packages/web/src/routes/world/+layout.svelte
  packages/web/static/ui/icons/info.png
  packages/web/static/ui/icons/settings.png
Due: tidy

web: allow clicking on canvas to close ant stats panel
  packages/web/src/lib/components/PixelWorldCanvas.svelte
Due: tidy
